<!-- Card Components -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-6">
    <div class="container-fluid">
    </div>
</div>
<div class="container-fluid mt--7 animated fadeIn fast">
    <div class="container-fluid mt--7 animated fadeIn fast">
        <!-- Table -->
       <div class="row">
           <div class="col">
               <div class="card shadow">
                   <div class="card-header bg-transparent">
                       <div class="row align-items-center">
                           <div class="col-8">                              
                           </div>   
                           <div class="col-4 text-right">                               
                           </div>
                       </div>
                   </div>
                   <div class="card-body"> 
                    <ngb-alert [dismissible]="false" style="font-size: 1.5rem">
                        <strong>Página no Autorizada!</strong>
                        <br><br>
                        La página a la que intenta ingresar  no está disponible o no cuenta con permisos de acceso. Para mayor información contáctese con el área de soporte.
                      </ngb-alert>
                    </div>
           </div>
       </div>
   </div>
   </div>

