.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 36px;
    height: 36px;
    padding: 6px 0px;
    border-radius: 24px;
    text-align: center;
    font-size: 17px;
    line-height: 1.42857;
}
